:root {
  --samaritan: #3b6281;
  --darkSamaritan: #243b4e;
  --lightSamaritan: #b1c0cd;
  --bs-body-color: white;
  --cnvs-section-bg: var(--samaritan);
  --bs-primary-rgb: 60, 99, 130;
  --cnvs-themecolor-dark: var(--darkSamaritan);
}

ul {
  padding-left: 2em;
}

.text-samaritan {
  color: var(--samaritan) !important;
}

.text-lightSamaritan {
  color: var(--lightSamaritan) !important;
}

.text-darkSamaritan {
  color: var(--darkSamaritan) !important;
}

.lightSamaritan-bg {
  background-color: var(--lightSamaritan);
}

.samaritan-to-lightSamaritan-gradient-bg {
  background: #3b6281;
  background: linear-gradient(
    180deg,
    rgba(59, 98, 129, 1) 0%,
    rgba(177, 192, 205, 1) 2%,
    rgba(177, 192, 205, 1) 100%
  );
}

.samaritan-bg {
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><defs><filter id="blur1" x="-10%" y="-10%" width="120%" height="120%"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feGaussianBlur stdDeviation="163" result="effect1_foregroundBlur"></feGaussianBlur></filter></defs><rect width="960" height="540" fill="%233c6382"></rect><g filter="url(%23blur1)"><circle cx="811" cy="471" fill="%230a3d62" r="363"></circle><circle cx="853" cy="106" fill="%233c6382" r="363"></circle><circle cx="186" cy="153" fill="%230a3d62" r="363"></circle><circle cx="374" cy="95" fill="%230a3d62" r="363"></circle><circle cx="299" cy="461" fill="%233c6382" r="363"></circle><circle cx="643" cy="399" fill="%230a3d62" r="363"></circle></g></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  --cnvs-heading-color: white;
  fill: white;
  --cnvs-link-color: var(--samaritan);
}

/* a:not(.btn-link):not(.btn-lightSamaritan):not(.successmsg) {
  color: var(--lightSamaritan);
} */

.button-circle {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--samaritan);
  border: none;
  border-radius: 20%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-circle:hover {
  background-color: var(--darkSamaritan);
}

.contact-form-overlay {
  --cnvs-form-background: var(--samaritan);
}

.alert-samaritan {
  background-color: var(--lightSamaritan);
  --bs-alert-color: var(--darkSamaritan);
  --bs-alert-bg: var(--samaritan);
  --bs-alert-border-color: var(--lightSamaritan);
}

#page-title,
.page-title {
  --cnvs-page-title-color: white;
}

/* former btn-primary */
.button {
  --cnvs-btn-color: #358f9c;
  --cnvs-btn-color-dark: #25646d;
}

.button-brown {
  --cnvs-btn-color: #9c4235;
  --cnvs-btn-color-dark: #703026;
}

.button-blue {
  --cnvs-btn-color: #355b9c;
  --cnvs-btn-color-dark: #264170;
}

.button-green {
  --cnvs-btn-color: #2e501b;
  --cnvs-btn-color-dark: #25646d;
}

.color-white {
  color: white !important;
}

.form-control,
.form-control:focus {
  --cnvs-input-btn-input-color: var(--darkSamaritan);
  --cnvs-input-focus-color: var(--darkSamaritan);
  --cnvs-input-focus-bg: white;
}

.form-check-input:checked {
  background-color: #358f9c;
  border-color: #358f9c;
}

.alert-primary {
  --bs-alert-color: white;
  --bs-alert-bg: var(--samaritan);
  --bs-alert-border-color: var(--darkSamaritan);
  --bs-alert-link-color: var(--darkSamaritan);
}

.grid-filter.style-3 li.activeFilter a {
  color: white !important;
  border-color: white;
}
